AWS_REGION="us-west-2"
AWS_ACCESS=""                        #Fill with your own
AWS_SECRET =""   #Fill with your own
S3_BUCKET_NAME="semantic-s3"                             #this can be any name you wish or a bucket you've created previously
ATHENA_OUTPUT_BUCKET="s3://semantic-s3/query-results/"   #this can be any name you wish or a bucket you've created previously
SEMANTIC_SCHOLAR_API_KEY="4dMtiljqSW7I3BXKBgHR18WDh3GQLCvawA0WZydd"                         #this is given by Semantic Scholar
